<html>
<head>
<title> i dont knw doctor </title>
<link rel="stylesheet" href="/style.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/client3.js"></script>
</head>
<body>
<div id="head">
<p> ELIZA PROGRAM </p>
<p> hello <%= name %>, <%= date></p>
</div>
<div id="stuff">
<p><font color="blue">Eliza: Say something human</p>
</div>
<form action="javascript:sendreq();" id="form">
<input type="text" id="human">
<input type="submit" id="submitb" value="I SAYS">
</form>
</body>
</html>
